.vs/
Eshopping.PainelAdministrador/Eshopping.PainelAdministrador.Data/bin/
Eshopping.PainelAdministrador/Eshopping.PainelAdministrador.Data/obj/
Eshopping.PainelAdministrador/Eshopping.PainelAdministrador.Logic/bin/
Eshopping.PainelAdministrador/Eshopping.PainelAdministrador.Logic/obj/
Eshopping.PainelAdministrador/Eshopping.PainelAdministrador.Rest/bin/
Eshopping.PainelAdministrador/Eshopping.PainelAdministrador.Rest/obj/
Eshopping.PainelAdministrador/Eshopping.PainelAdministrador.View/node_modules/
Eshopping.PainelAdministrador/Eshopping.PainelAdministrador.View/obj/
Eshopping.PainelAdministrador/Eshopping.PainelAdministrador.View/dist/
